@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #f6f6f6;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 40px;
}

.logo {
  align-self: center;
}

.sign-in-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #0b132a;
}

.sign-up-btn {
  color: #f53855;
  border-color: #f53855;
  border-radius: 50px;
  background-color: transparent;
  width: 150px;
  border-style: groove;
}

.header-btn {
  display: flex;
  column-gap: 30px;
}

.get-started {
  display: flex;
  padding-top: 88.49px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 103px;
}

.main-title {
  font-size: 50px;
}

.get-started-content {
  display: flex;
  flex-direction: column;
}

.get-started-btn {
  background-color: #f53838;
  color: #ffffff;
  border-radius: 10px;
  padding: 17.5px 77.5px 17.5px 77.5px;
  border: transparent;
}


