@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}

.nav {
  display: flex;
  column-gap: 40px;
}

.logo {
  align-self: center;
}

.sign-in-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #0b132a;
}

.sign-up-btn {
  color: #f53855;
  border-color: #f53855;
  border-radius: 50px;
  background-color: transparent;
  width: 150px;
  border-style: groove;
  height: 45px;
}

.header-btn {
  display: flex;
  column-gap: 30px;
}

.get-started {
  display: flex;
  padding-top: 88.49px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 103px;
}

.main-title {
  font-size: 50px;
}

.get-started-content {
  display: flex;
  flex-direction: column;
}

.get-started-btn {
  background-color: #f53838;
  color: #ffffff;
  border-radius: 10px;
  padding: 17.5px 77.5px 17.5px 77.5px;
  border: transparent;
}

.get-started-icons {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding-top: 87.05px;
  padding-bottom: 57.95px;
}

.users,
.locations,
.servers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 36.5px;
}

.users-icon {
  margin-left: 76px;
}

.servers-span {
  margin-right: 105.5px;
}

.icon-title {
  font-size: 25px;
  font-weight: bold;
}

.icon-span {
  font-size: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  column-gap: 169.48px;
  padding-bottom: 126.73px;
}

.features-title {
  font-size: 35px;
}

.features-content {
  padding-top: 164.55px;
}

.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.feature {
  display: flex;
  align-items: center;
  column-gap: 10.08px;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plan-title {
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
}

.plan-paragraph {
  text-align: center;
  word-spacing: ;
}
