@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}

.nav {
  display: flex;
  column-gap: 40px;
}

.logo {
  align-self: center;
}

.sign-in-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #0b132a;
  cursor: pointer;
}

.sign-up-btn {
  color: #f53855;
  border-color: #f53855;
  border-radius: 50px;
  background-color: transparent;
  width: 150px;
  border-style: groove;
  height: 45px;
  cursor: pointer;
}

.header-btn {
  display: flex;
  column-gap: 30px;
  cursor: pointer;
}

.get-started {
  display: flex;
  padding-top: 88.49px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 103px;
  column-gap: 40px;
}

.main-title {
  font-size: 50px;
}

.get-started-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.get-started-btn {
  background-color: #f53838;
  color: #ffffff;
  border-radius: 10px;
  padding: 17.5px 77.5px 17.5px 77.5px;
  border: transparent;
  margin-top: 50px;
  cursor: pointer;
}

.get-started-icons {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding-top: 87.05px;
  padding-bottom: 57.95px;
}

.users,
.locations,
.servers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 36.5px;
}

.get-started-paragraph {
  margin-top: 20px;
}

.users-icon {
  margin-left: 76px;
}

.servers-span {
  margin-right: 105.5px;
}

.icon-title {
  font-size: 25px;
  font-weight: bold;
}

.icon-span {
  font-size: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  column-gap: 169.48px;
  padding-bottom: 126.73px;
  padding-top: 164.55px;
  align-items: center;
}

.features-title {
  font-size: 35px;
  width: 383.41px;
}

.features-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.feature {
  display: flex;
  align-items: center;
  column-gap: 10.08px;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plan-paragraph-title {
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
  color: #0b132a;
}

.plan-paragraph {
  text-align: center;
  font-size: 16px;
  color: #4f5665;
  padding-bottom: 60px;
}

.plan-offer {
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #dddddd;
  border-style: solid;
}

.plan-selected {
  border-color: #f53838;
}

.plans {
  display: flex;
  justify-content: space-between;
}

.plan-img {
  padding: 79.63px 92.55px 0px 92.55px;
}

.plan-title {
  padding: 30px 124px 30px 124px;
  font-size: 18px;
  color: #0b132a;
}

.plan-free-content,
.plan-standard-content,
.plan-premium-content {
  margin-left: 69.73px;
  margin-right: 69.73px;
}

.free-cost {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-top: 130px;
}

.standard-cost {
  font-size: 25px;
  text-align: center;
  padding-top: 90px;
}

.premium-cost {
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}

.non-selected-btn {
  border-color: #f53838;
  color: #f53838;
  border-radius: 50px;
  margin: 20px 76.06px 50px 76.06px;
  background-color: transparent;
  border-style: groove;
  font-size: 16px;
  padding: 13px 62.94px 13px 62.94px;
  font-weight: bold;
  cursor: pointer;
}

.selected-btn {
  border-color: #f53838;
  color: #ffffff;
  border-radius: 50px;
  margin: 20px 76.06px 50px 76.06px;
  padding: 13px 62.94px 13px 62.94px;
  background-color: #f53838;
  border-style: groove;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.global-network-title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 150px;
}

.network-paragraph {
  font-size: 16px;
  color: #4f5665;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 151.81px;
}

.sponsored {
  margin-top: 6.45px;
  margin-bottom: 50px;
}

.customers-reviews {
  background-color: #f6f6f6;
}

.happy-customers-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.happy-customers-paragraph {
  padding-top: 20px;
  text-align: center;
  line-height: 30px;
  padding-bottom: 60px;
}

.reviews {
  display: flex;
  column-gap: 50px;
  margin-bottom: 82px;
}

.comment {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  flex: 1;
}

.customer-info-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.customer-place {
  display: block;
  font-size: 14px;
}

.customer-name {
  font-size: 18px;
  font-weight: bold;
}

.customer-paragraph {
  font-size: 16px;
  flex: 1;
}

.star {
  color: #fea250;
}

.customer-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.rate-value {
  font-size: 16px;
}

.reviews-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  display: flex;
  column-gap: 15px;
}

.navigation-arrows {
  display: flex;
  column-gap: 20px;
}

.subscribe-now {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 60px 70px;
  transform: translate(0, 50%);
}

.subscribe-title {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer {
  background-color: #f8f8f8;
  padding-top: 180px;
  padding-bottom: 100px;
}

.laslesvpn {
  width: 30%;
}

a {
  text-decoration: none;
  color: #4f5665;
}
.subscribe-now-btn {
  background-color: #f53838;
  font-size: 16px;
  color: #ffffff;
  padding: 17px 65px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  column-gap: 125px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-paragraph {
  margin-top: 20px;
  margin-bottom: 30px;
}

.copyright {
  color: #afb5c0;
  font-size: 16px;
}

.social-icons {
  display: flex;
  /* margin-bottom: 30px; */
}

.list-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.list-items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.icon-description {
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}

.selected-comment {
  border: 2px solid rgb(245,56,56,1);
}

.subscribe-content {
  width: 40%;
}